<nav class="navbar bg-dark navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Agenda</a>
        <div>
            <ul class="navbar-nav">
                <% if(!user) { %>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Login/Registrar</a>
                    </li>
                <% } else { %>
                <li class="nav-item">
                    <a class="nav-link" href="/login/logout">Logout</a>
                </li>
                <% }; %>

            </ul>
        </div>
    </div>
</nav>