[submodule "JS/school-api"]
	path = JS/school-api
	url = https://github.com/Mathesu-veLi/school-api.git
[submodule "JS/todo-api"]
	path = JS/todo-api
	url = https://github.com/Mathesu-veLi/todo-app.git
[submodule "JS/dev-toolkit"]
	path = JS/dev-toolkit
	url = https://github.com/Mathesu-veLi/dev-toolkit.git
[submodule "JS/ouv-costumes"]
	path = JS/ouv-costumes
	url = https://github.com/Mathesu-veLi/ouv-costumes.git
[submodule "JS/pomodoro"]
	path = JS/pomodoro
	url = https://github.com/Mathesu-veLi/pomodoro.git
[submodule "JS/upload.ai"]
	path = JS/upload.ai
	url = https://github.com/Mathesu-veLi/upload.ai.git
