@import url(style.css);

form{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-direction: column;
    padding: 20px;
    width: 500px;
    transition: .5s;
}

form:hover
{
    background-color: rgba(255, 255, 255, 0.3);
}

form *{

    padding: 10px;
}