@import url(font.css);
@import url(navbar.css);
*{
    margin: 0;
    padding: 0;
}

main
{
    padding: 8vh;
    height: 92vh;
}

body
{
    
    background: url(img/wallpaper.jpg) center center no-repeat fixed;
    background-size: 100% 100%;
}

.banner{
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.banner ul{
    border: 2px solid white;
    transition: .5s;
}

.banner li{
    list-style: none;
    color: white;
    padding: 30px;
    font-size: 50px;
    transition: .5s;
}

.banner ul:hover *, .banner ul:hover
{
    color: black;
    background-color: white;
}

.banner ul:hover{
    border: 3px solid black;
}

.categorias
{
    display: flex;
    justify-content: center;    
    padding: 30px;
}

.categorias h1{
    color: white;
    font-family: Nadall;
    font-weight: lighter;
    font-size: 30px;
}

.categorias div:hover
{
    background-color: rgba(0, 0, 0, 0.5);
    border: 2px solid white;
}

.categorias div:hover img
{
    width: 120px;
    height: 120px;
}

.categorias div:hover h1
{
    background: -webkit-linear-gradient(white, rgba(220, 220, 220, 0.6));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.categorias img
{
    border-radius: 50%;
    height: 150px;
    width: 150px;
}

.categorias div
{
    padding: 20px;
}

.categorias *
{
    align-items: center;
    transition: .5s;
}

@media screen and (max-width: 999px) {

    main
    {
        padding: 8vh;
        height: 92vh;
    }

    body
    {
        background: url(img/mobile-wallpaper.jpg) center center no-repeat fixed;
    }

    .banner ul
    {
        border: 3px solid white;
        background-color: black;
        transition: .5s;
    }

    

    .border li
    {
        list-style: none;
        color: black;
        padding: 30px;
        font-size: 50px;
        transition: .5s;
    }

    .banner ul:hover *, .banner ul:hover
    {
        color: black;
        background-color: rgb(235, 235, 235);
    }
    
    .border ul:hover
    {
        border: 2px solid black;
    }

    .categorias img{
        height: 100px;
        width: 100px;
    }

    .categorias
    {
        border: 1px solid white;
        display: inline-block;
    }


}

