@import url(font.css);
@import url(navbar.css);
*{
    margin: 0;
    padding: 0;
}

main{
    padding: 8vh;
    background: url(img/background.jpg) center center no-repeat fixed;
    background-size: cover;
    height: 92vh;
}

@media screen and (max-width: 999px) {
    main
    {
        background: url(img/mobile-wallpaper.jpg) center center no-repeat fixed;
    }
}

