@import url(fonts.css);

body
{
    font-size: 20px;
    background: url(https://preview.redd.it/lj2bdwu1dw151.jpg?auto=webp&s=ab8e83525d222dd23772918a5d8db6751bdcf2d1) center center no-repeat fixed;
    background-size: cover;
    color: white;
    padding: 0;
    margin: 0;
}

html, body
{
    min-height: 100%;
}

p
{
    margin: 20px;
}

li
{
    list-style: none;
}

.indices a{
    background: -webkit-gradient(linear, left top, right top, from(rgb(110, 0, 0)), to(rgb(0, 0, 110)));
    text-decoration: none;
    font-family: CL;
    font-size: 30px;
    color: rgb(89, 147, 255);
    padding: 10px;
    line-height: 52px;
    border-radius: 20px;
}

.indices a:hover
{
    font-size: 35px;
    color: rgb(149, 255, 246);
    transition: all 0.5s;
    background: -webkit-gradient(linear, left top, right top, from(blue), to(red));
}

h1
{
    font-family: STF;
    text-shadow: 0 0 20px red;
}

.temp
{
    background-color: rgb(37, 37, 37);
    width: 200px;
    padding: 10px;
    border-radius: 10px;
    font-family: MordernSans;
}

img{
    max-width: 100%;
}

p
{
    background-color: darkcyan;
    border-radius: 15px;
    font-family: Raleway;
    padding: 20px;
}

.rodape
{
    background-color: rgb(50, 50, 50);
    -webkit-animation: scale-in-ver-bottom 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
	        animation: scale-in-ver-bottom 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
}

footer
{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@-webkit-keyframes scale-in-ver-bottom {
    0% {
      -webkit-transform: scaleY(0);
              transform: scaleY(0);
      -webkit-transform-origin: 0% 100%;
              transform-origin: 0% 100%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
      -webkit-transform-origin: 0% 100%;
              transform-origin: 0% 100%;
      opacity: 1;
    }
  }
  @keyframes scale-in-ver-bottom {
    0% {
      -webkit-transform: scaleY(0);
              transform: scaleY(0);
      -webkit-transform-origin: 0% 100%;
              transform-origin: 0% 100%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
      -webkit-transform-origin: 0% 100%;
              transform-origin: 0% 100%;
      opacity: 1;
    }
  }
  
  @-webkit-keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  

r
{
    font-size: 30px;
    font-family: Ailerons;
    -webkit-animation: text-focus-in 2s cubic-bezier(0.550, 0.085, 0.680, 0.530) 3s both;
	animation: text-focus-in 2s cubic-bezier(0.550, 0.085, 0.680, 0.530) 3s both;
}

@media screen and (max-height: 800px) {
    img
    {
        width: 100%;
    }
}